In [ ]:
¿Por qué Python?
Popular #1
Multiparadigma
Comunidad python.org
Libre
Versátil
Curva de apendizaje
Multiplataforma
Lenguajes-Programacion-mas-Demandados-2022.jpg

In [2]:
print ("Hola mundo")

Hola mundo

In [3]:
print ("Hola","Mundo","Python",3)

Hola Mundo Python 3

In [4]:
print ("Adios mundo Python")

Adios mundo Python

Además de los valores a imprimir que pueden ser de cualquier tipo, la función print tiene dos parámetros adicionales con valores por defecto

sep (separador) cuyo valor por defecto es un espacio " "

end (final) cuyo valor por defecto es un salto de línea \n

Podemos por lo tanto darle valores específicos a estos dos argumentos en caso de ser necesario.

**Algunos editores Python**

* **Pycharm**
* **Visual studio code**
* **Anaconda**
* **Jupyter**
* **GOOGLE COLAB**

# PEP - **P**ython **E**nhancement **P**roposals

Propuestas de mejoras Python.  Documentos técnicos con propuestas para ayudar a la comunidad.  Son tomadas como estándares para aplicar buenas prácticas en la programación con Python.

[Listado de PEPs](https://peps.python.org/)

[PEP 8 Guía de estilo para el código en Python (Español) ](https://recursospython.com/pep8es.pdf)

¿Sabes cuál es el nombre de la convención usada por Python para nombrar variables? -----------> snake case. No podría ser otro 🐍

* primerNombre  primer_nombre
* Precio_Total  precio_total
* MAXIMO_DESCUENTO  maximo_descuento

# Variables, tipos de datos, operadores

## Datos Numéricos

**Tipado Dinámico**

In [6]:
x = 15
print("Tipo de datos de X:", type(x))

Tipo de datos de X: <class 'int'>

In [9]:
x = 15
y = 2
print("Tipos de datos de  y:", type(y))
z = x/y
print (z)
print ("Tipo de dato de z", type(z))
x = "hola"
print(x)
print(type(x))

Tipos de datos de  y: <class 'int'>
7.5
Tipo de dato de z <class 'float'>
hola
<class 'str'>

Podrías decirnos antes de ejecutar el siguiente código cuál es el resultado de cada operación:

In [13]:
print(5/2)
print(5%2)
print(5**2)
print( 15//4)

2.5
1
25
3

## Operadores Aritméticos

| Symbol | Task Performed |
|----|---|
| +  | Suma |
| -  | Resta |
| /  | División |
| %  | Residuo |
| *  | Multiplicación |
| //  | División entera |
| **  | Exponenciación |
| ~   | Negación |

Desde python 3.6 los números enteros se pueden expresar con un guion bajo _ que les brinde mayor claridad de lectura.  Por ejemplo si queremos sumar 1250000 + 3240000 podemos expresarlo de la siguiente manera:

In [14]:
x = 1_250_000 +3_240_000
y = 1250000 + 3240000
print (x, y)

4490000 4490000

Por defecto, los números en python son decimales, pero también podemos expresar números en formato binario, Octal y Hexadecimal anteponiendo 0b, 0o y 0x respectivamente.

Podrías indicarnos antes de ejecutar el siguiente código, cuál es el valor en decimal de los siguientes números?

In [21]:
print (12)
print (0b101)
print (0o12)
print (0x12)
print (hex(0o174))
print (bin(5))
print (oct(0xA21))

12
5
10
18
0x7c
0b101
0o5041

##Operadores lógicos a nivel de bits
AND **&**

OR **|**

XOR **^**

![operadores logicos bits.png]()

In [24]:
print (2 & 3) # 10 & 11 = 10 = 2
print (2|3) # 10 | 11 = 11 = 3
print ( 2 ^ 3) # 10 ^ 11 = 01 = 1

2
3
1

¿Cuál será el resultado de las siguientes líneas de código?

In [ ]:
print (1 & 3) # 01 & 11
print  ( 21| 12) #
print ( 5 & 8) #

In [30]:
print(bin(21))
print(bin(12))
x = 0b10101
y = 0b1100
print (x | y)

0b10101
0b1100
29

## Operadores Relacionales

| Símbolo | Tarea |
|----|---|
| == | Verdadero, si valores son iguales |
| is | Verdadero, si son idénticos, por ejemplo el **mismo** objecto  |
| !=  | Verdadero, si no son iguales |
| < | Menor que |
| > | Mayor que |
| <=  | Menor o igual a |
| >=  | Mayor o igual a |
| in  | Comprueba si un elemento está dentro de una colección (list, set, dictionary) |

In [31]:
print (3 > 5 ) # false
print (3 <= 5) # true
print ( 3 != 5) # true
print (type(3) is type (5)) #true
print (type (3) is type(5.0)) # false
print (3 in[4,5,6]) # false
print (3 in [4,3,5]) # true

False
True
True
True
False
False
True

##Los números flotantes

Acompañados de parte decimal. Ejemplo:

4.5

0.2

.25

E xponente significa diez a la n potencia ¿Cuál será el resultado de las siguientes líneas?

In [32]:
print (2**3) # 8
print (2E3) # 2000
print (2.5E2) # 250
print( .5E4) # 5000

8
2000.0
250.0
5000.0

## Tipos de datos Cadena

Las cadenas en python son objetos inmutables a los que les podemos aplicar diferentes métodos.  Otra característica es que cada cadena está conformada por un conjunto de caracteres a los cuales podemos acceder mediante sus índices

In [33]:
x = 3
y = 5
z = x + y
print(z)

8

In [38]:
cad = "Pythonton"
print(type(cad))
print(cad)
print (cad[0])
print (cad[3])

print(cad.count("o"))

<class 'str'>
Pythonton
P
h
2

**Cadenas con múltiples líneas**

In [44]:
#Cadenas multilineas
cad =  """Escucha hermano
   la cancion de la alegria """
print(cad)

cad2 = "\nEl canto alegre\ndel que espera\nun nuevo\ndia"
print(cad2)

Escucha hermano
   la cancion de la alegria

El canto alegre
del que espera
un nuevo
dia

In [51]:
#Concatenación y formateo de cadenas
print ("1) hola " + "Mundo " + "Python" + str(3))
print("1) Hola", "Mundo", "Python", 3)


lenguaje,version = "python", 3 # asignación multiple
print(lenguaje)
print(version)

1) hola Mundo Python3
1) Hola Mundo Python 3
python
3

In [55]:
lenguaje,version = "Python", 3
print("3) hola mundo %s %s " %(lenguaje,version))

print("4) hola mundo {} {}".format(lenguaje, version))

print(f"5) hola mundo {lenguaje} {version}")

print ("6) hola", lenguaje, "mundo")

3) hola mundo Python 3
4) hola mundo Python 3
5) hola mundo Python 3
6) hola Python mundo

Un dato curioso es que en python podemos multiplicar las cadenas.

In [58]:
cadena = "si"
print((cadena*3, "este amor es tan profundo"))
print((("*"*8)+ "\n")*4)

('sisisi', 'este amor es tan profundo')
********
********
********
********

In [75]:
print ("+" + 10 * "-" + "+")
print (("|" + " " * 10 + "|\n") * 5, end="")
print ("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+ ----------+

**Slicing de Cadenas**

In [79]:
cadena = "lenguaje de programación python"

print(cadena[0:8])
print(cadena[9:11])
print(cadena[12:24])
print(cadena[25:31])

lenguaje
de
programación
python

**Comprendiendo los valores por defecto y valores negativos en el slicing**

In [86]:
cadena = "lenguaje de programación python"

print(cadena[:3])
print(cadena[25:])
print(cadena[-6:-2])
print (cadena[-9])

len
python
pyth
ó

## Conversiones entre tipos

In [88]:
a,b = "3", "5"

print (a+b)

print(int(a) + int(b))

35
8

## Métodos de cadenas
A las cadenas les podemos aplicar una serie de métodos útiles predefinidos en python.  Acá un par de ejemplos:

In [91]:
cadena_base = "mi pObre angelito".lower()
cad1 = cadena_base.upper()

print(cad1)

numero_de_o = cadena_base.count("o") # devuelve el numero de veces que se encuentra en unsa subcadena
print(numero_de_o)

print(f"la letra 'o' esta {numero_de_o} veces en la palabra/frase '{cadena_base}'")

MI POBRE ANGELITO
2
la letra 'o' esta 2 veces en la palabra/frase 'mi pobre angelito'

En este enlace podrás encontrar más información sobre los [métodos de cadenas](https://pyspanishdoc.sourceforge.net/lib/string-methods.html)

# Lectura de datos
La función **input** permite realizar la lectura de datos de entrada por parte del usuario.  La función input devuelve lo ingresado por el usuario en forma de cadena, si se desea capturar un dato de otro tipo se debe hacer la respectiva conversión

In [92]:
marca =  input (" Ingrese la marca del auto: ")
print("La  marca del carro ingresada por el usuario es", marca)

 Ingrese la marca del auto: mazda
La  marca del carro ingresada por el usuario es mazda

In [95]:
precio = int(input("Ingrese precio: "))
print(f"El auto marca {marca} tiene un precio de ${precio} y con el descuento del 10% le queda en  ${precio*0.9}")

print("EL auto marca {} tiene un precio de ${:,} y con el descuennto del 10% le queda en ${:,}".format(marca,precio,precio*0.9))

Ingrese precio: 5000000
El auto marca mazda tiene un precio de $5000000 y con el descuento del 10% le queda en  $4500000.0
EL auto marca mazda tiene un precio de $5,000,000 y con el descuennto del 10% le queda en $4,500,000.0

# Apropiaciónes

1. Realice un programa que calcule el índice de cosecha de un cultivo en función de la cantidad de frutos recolectados y la cantidad de frutos producidos en total.

Fórmula:
```
Índice de cosecha = (cantidad de frutos recolectados / cantidad de frutos producidos) * 100%
```

2. Dibujar la P de Python que abarque 7 filas y 5 columnas.  Use solo una línea de código

3.	Un alumno desea saber cuál será su calificación final en la materia de Matemáticas. Dicha calificación se compone de los siguientes porcentajes:
55% del promedio de sus tres calificaciones parciales (se debe leer cada calificación parcial).
30% de la calificación del examen final.
15% de la calificación de un trabajo final.

4. Recibir una frase por parte del usuario y devolver el número de palabras que se encuentran en la frase.

5. Recibir una frase y transformarla a mayúscula sostenida e invirtiendo su contenido