In [2]:
notas = [4.3,5,2.5,4.3,7,1.5,8]
print(sum(notas)/len(notas))

4.1000000000000005

# Introducción
Las colecciones nos permiten agrupar datos, objetos y otras estructuras bajo un mismo nombre.

**¿Ventajas?**

En Python existen cuatro colecciones básicas: Listas, Tuplas, Conjuntos y Diccionarios

## LISTAS

Las listas utilizan corchetes para la creación y acceso de sus elementos

## CREACION Y ACCESO

In [6]:
lenguajes = ["Python", "Java", "Javascript"]
print(lenguajes)
print(lenguajes[0])
print(lenguajes[1])

['Python', 'Java', 'Javascript']
Python
Java

In [7]:
numeros =  [3,4,6,2,6,8,4,9]
res = numeros[-3] + numeros[5]
print(res)

16

otra forma alternativa de crear listas es mediante la función **list** que recibe como argumento un objeto iterable

In [10]:
mi_lista = list('1234567')
milista_eneteros = [int(x) for x in mi_lista]
print(milista_eneteros)
print(mi_lista)

[1, 2, 3, 4, 5, 6, 7]
['1', '2', '3', '4', '5', '6', '7']

In [11]:
mi_lista = list('1234567')
lista_final = []
for x in mi_lista:
  lista_final.append(int(x))
print(lista_final)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
ml = list(range(1,10))
print(ml)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Una lista en Python puede almacenar elementos de cualquier tipo de dato, incluso otras listas

In [13]:
mi_lista = [2,3.5,True,"amigo", [3,8,"a"]]
print(mi_lista)

[2, 3.5, True, 'amigo', [3, 8, 'a']]

In [14]:
mi_listas = [1,2,3, ['p','q', [5,6,7]]]
print(mi_listas[3][2][1])
print(mi_listas[-1][-1][-2])

6
6

In [21]:
mi_lista= list(range(1,10))
print(mi_lista)
print(mi_lista [1:4])
print(mi_lista[:2])
print(mi_lista[7:])
print(mi_lista[-5:-1])
print(mi_lista[-3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[1, 2]
[8, 9]
[5, 6, 7, 8]
[7, 8, 9]

In [22]:
mi_lista = [1,2,3,4,5,6]
mi_lista [0:3] = ["a", "b","c"]
print(mi_lista)

['a', 'b', 'c', 4, 5, 6]

In [24]:
mi_lista = [1,2,3,4,5]
mi_lista = mi_lista  + [6]
print(mi_lista)
mi_lista = mi_lista + [7,8,9]
print(mi_lista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
mi_lista = [1,2,3]
x,y,z = mi_lista # Asignar variables al contenido de la lista
print(f"valor de x: {x}")
print(f"valor de y: {y}")
print(f"valor de z: {z}")

valor de x: 1
valor de y: 2
valor de z: 3

## ELIMINACION E INSERCION

In [26]:
lenguajes = ["python", "java", "javascript"]
del lenguajes[1]
print(lenguajes)

['python', 'javascript']

POdemos insertar datos en una posicion especifica  con la funcion insert  o al final de lista con la función append

In [27]:
lenguajes = ["python", "java", "javascript"]
lenguajes.insert(1, "c++")
print(lenguajes)
lenguajes.append("c#")
print(lenguajes)

['python', 'c++', 'java', 'javascript']
['python', 'c++', 'java', 'javascript', 'c#']

In [28]:
lista = ["casa", "cosa", "ala"]
lista.sort()
print(lista)

['ala', 'casa', 'cosa']

para saber si un elemento se encuentra dentro de una lista utilizamos la palabra reservada in

In [29]:
lenguajes = ["python", "java", "javascript"]
print("python" in lenguajes)
print("c++" in lenguajes)

True
False

## Recorridos de Listas

In [31]:
numeros = [1,2,3,4,5]
print(numeros)
for num in numeros:
  print(num)

[1, 2, 3, 4, 5]
1
2
3
4
5

Python nos ofrece una forma alternativa de acceder al indice de cada elemento a través de la función enumerate

In [32]:
numeros = [3,29,34,42,54]
for x,y in enumerate(numeros):
    print(f"EN la posición: {x} encontramos el valor: {y}")

EN la posición: 0 encontramos el valor: 3
EN la posición: 1 encontramos el valor: 29
EN la posición: 2 encontramos el valor: 34
EN la posición: 3 encontramos el valor: 42
EN la posición: 4 encontramos el valor: 54

Debido a que la función enumerate devuelve para cada elemento de la lista un par (índice - valor), podemos obtener ambos al tiempo en la misma variable como en el ejemplo anterior o acceder a cada uno a través de variables diferentes. Veamos:

In [33]:
numeros = ["A", "B", "C", "D", "E"]
for indice,valor in enumerate(numeros):
    print(f"EN la posición: {indice} encontramos el valor: {valor}")

EN la posición: 0 encontramos el valor: A
EN la posición: 1 encontramos el valor: B
EN la posición: 2 encontramos el valor: C
EN la posición: 3 encontramos el valor: D
EN la posición: 4 encontramos el valor: E

In [34]:
lista = [2,35,8,95,41]
indice = 0
while indice < len(lista):
  print(lista[indice])
  indice += 1

2
35
8
95
41

Se cuenta con dos listas y se desean recorrer de manera simultánea mostrando el valor de las dos en cada posición.  ¿Ayudarías a terminar el código de tal manera que se obtenga el siguiente resultado?


```
ma - pa
me - pe
mi - pi
mo - po
mu - pu
```

In [39]:
lista_1 = ["ma","me","mi","mo","mu","ñu"]
lista_2 = ["pa","pe","pi","po","pu"]

for i in range (min(len(lista_1), len(lista_2))):
  print(lista_1[i] + " - " + lista_2[i])

ma - pa
me - pe
mi - pi
mo - po
mu - pu

In [40]:
lista_1 = ["ma","me","mi","mo","mu","ñu"]
lista_2 = ["pa","pe","pi","po","pu"]
lista_3 = ["ra", "re", "ri", "ro", "ru"]
lista_4 = ["sa", "se", "si", "so", "su"]
lista_5 = ["ta", "te", "ti", "to", "tu"]

for x in zip (lista_1, lista_2, lista_3, lista_4, lista_5):
  print(x)

('ma', 'pa', 'ra', 'sa', 'ta')
('me', 'pe', 're', 'se', 'te')
('mi', 'pi', 'ri', 'si', 'ti')
('mo', 'po', 'ro', 'so', 'to')
('mu', 'pu', 'ru', 'su', 'tu')

A la función **zip** le podemos pasar cualquier número de listas y tendrá la capacidad de generar un iterador que las recorra simultáneamente.

## METODOS APLICABLES A LISTAS

El método **sort()** ordena los elementos de una lista

In [41]:
mi_lista = [4,5,2,8,2,1]
mi_lista.sort()
print(mi_lista)

[1, 2, 2, 4, 5, 8]

Podemos pasarle el argumento reverse=True al método sort() para que ordene inversamente

In [42]:
mi_lista = [4,5,2,8,2,1]
mi_lista.sort(reverse=True)
print(mi_lista)

[8, 5, 4, 2, 2, 1]

El método **remove()** recibe como argumento un objeto y lo borra de la lista

In [44]:
lenguajes = ["python", "java", "javascript"]
lenguajes.remove("java")
print(lenguajes)

['python', 'javascript']

Nota que la diferencia entre **remove()** y **del** es que al primero le puedo enviar el valor que deseo remover mientras que el segundo **del** trabaja con los índices

El método **reverse()** invierte el contenido de la lista

In [45]:
lenguajes = ["python", "java", "javascript"]
lenguajes.reverse()
print(lenguajes)

['javascript', 'java', 'python']

In [46]:
cadena = "HOLA MUNDO"
print(cadena[::-1])

ODNUM ALOH

In [48]:
cadena = "HOLA MUNDO0"
Lista = list(cadena)
print(Lista)
Lista.reverse()
print(Lista)

cadena = "".join(Lista)
print(cadena)

['H', 'O', 'L', 'A', ' ', 'M', 'U', 'N', 'D', 'O', '0']
['0', 'O', 'D', 'N', 'U', 'M', ' ', 'A', 'L', 'O', 'H']
0ODNUM ALOH


```
clear()
Vacía todos los ítems de una lista:
lista.clear()
[]

extend()
Une una lista a otra:
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
[1, 2, 3, 4, 5, 6]

count()
Cuenta el número de veces que aparece un ítem:
["Hola", "mundo", "mundo"].count("Hola")
1

index()
Devuelve el índice en el que aparece un ítem (error si no aparece):
["Hola", "mundo", "mundo"].index("mundo")
1

pop()
Extrae un ítem de la lista y lo borra:
l = [10,20,30,40,50]
print(l.pop())
50
[10, 20, 30, 40]

```

In [50]:
l = [10,20,30,40,50]
print(l.pop(2))
print(l)

30
[10, 20, 40, 50]

## TUPLAS

## Generalidades

Las Tuplas son similares a las listas pero con la característica de ser inmutables, es decir, sus valores no pueden cambiar.  Las Tuplas se crean con paréntesis **()** en lugar de corchetes **[]**  pero al igual que las listas, se accede a sus posiciones con corchetes **[]**  Veamos:

In [55]:
mi_tupla = ("a", "b", "c", "d")
print(type(mi_tupla))
print(mi_tupla)
print(mi_tupla[2])
print(mi_tupla[1:3])
print(mi_tupla[-1])

<class 'tuple'>
('a', 'b', 'c', 'd')
c
('b', 'c')
d

In [56]:
mi_tupla = ("a", "b", "c", "d")
mi_tupla[1] = "f"
print(mi_tupla[1])

TypeError: 'tuple' object does not support item assignment

**Que ventajas tiene  una Tupla sobre una LIsta**

Las Tuplas al igual que las Listas pueden almacenar diferentes tipos de elementos y pueden conformarse por otras listas o tuplas internas.  El acceso a sus elementos funciona igual que con las listas.

In [60]:
mi_tupla = (100, 'hola', [1,2,3], -50)
print(mi_tupla[2][-1])
mi_tupla = (100, 'hola',(1, (200,'D', ['X', 'Y', 'Z'])), (1,2,3), -50 )
print(mi_tupla[2][1][2][1])

3
Y

Las Tuplas comparten varios métodos de las listas, sin embargo, por ser inmutables, las Tuplas no usan ningún método en cuyo resultado sea un cambio de contenido.  Ejemplo append(), insert(), remove(), sort(), reverse(), etc.

In [61]:
mi_tupla = (2,5,2,45,12,5,63,52,4,2.5,8,2)
print( mi_tupla.count(2))

3

In [ ]:
mi_tupla = (2,5,2,45,12,5,63,52,4,2.5,8,2)
print(mi_tupla.sort())

Las tuplas también las podemos crear a partir de la función **tuple** que recibe un objeto iterable

In [63]:
mi_tupla = tuple("Hola Mundo")
print(mi_tupla)
for dato in mi_tupla:
  print(dato)

('H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o')

Por lo demás, podemos resumir diciendo que las listas y las tuplas son semejantes, con la diferencia que las segundas no pueden cambiar su contenido.

In [67]:
mi_tupla = tuple(input("Ingrese una frase: "))
print(mi_tupla)
print(f"La frase tiene {len(mi_tupla)} caracteres")

for dato in mi_tupla:
  print(dato)

for dato in enumerate(mi_tupla):
  print(dato)

Ingrese una frase: calculadora
('c', 'a', 'l', 'c', 'u', 'l', 'a', 'd', 'o', 'r', 'a')
La frase tiene 11 caracteres
c
a
l
c
u
l
a
d
o
r
a
(0, 'c')
(1, 'a')
(2, 'l')
(3, 'c')
(4, 'u')
(5, 'l')
(6, 'a')
(7, 'd')
(8, 'o')
(9, 'r')
(10, 'a')

## PASO DE LA TUPLA A LISTA Y DE LA LISTA A TUPLA

## Paso de Tupla a Lista y Lista a Tupla
Las funciones **list** y **tuple** son las que nos permiten realizar este tipo de conversiones.  miremos

**Paso de Lista a TUpla**

In [68]:
mi_lista = [1,2,3,4,5]
print(f"{mi_lista} es de tipo {type(mi_lista)}")
mi_tupla = tuple(mi_lista)
print(f"{mi_tupla} es de tipo {type(mi_tupla)}")

[1, 2, 3, 4, 5] es de tipo <class 'list'>
(1, 2, 3, 4, 5) es de tipo <class 'tuple'>

**Paso de tupla a lista**

In [69]:
mi_tupla = (1,2,3,4,5)
print(f"{mi_tupla} es de tipo {type(mi_tupla)}")
mi_lista = list(mi_tupla)
print(f"{mi_lista} es de tipo {type(mi_lista)}")

(1, 2, 3, 4, 5) es de tipo <class 'tuple'>
[1, 2, 3, 4, 5] es de tipo <class 'list'>

In [71]:
mi_tupla = (3,8,5,9,1,4)
mi_lista = list(mi_tupla)
mi_lista.sort()
mi_tupla = tuple(mi_lista)
print(mi_tupla)

(1, 3, 4, 5, 8, 9)

# APROPIACION

1. Pregunte al usuario cuántos elementos desea ingresar en una lista, luego solicite cada uno de ellos y presente el contenido de la lista y su contenido invertido.

2. Crear una lista de números y solicitar un número.  Borrar de la lista ese número en todas las posiciones donde se encuentre.  Presentar la lista final

3. Solicite al usuario dos(2) frases y devuelva una lista con todas las letras que se repiten en la misma posición de ambas listas

ejemplo:
frase1:  "holasena"
frase2:  "todogana"
salida: ["o","n", "a"]

# APROPIACION TRABAJO EN CASA

1. Procesamiento de Números del 1 al 20
Se requiere desarrollar un programa que trabaje con los números comprendidos entre el 1 y el 20, de forma que se identifiquen y muestren aquellos que sean divisibles por dos, acompañados de su posición en la secuencia. Además, el sistema debe recorrer la colección para determinar cuántos números no cumplen esa propiedad y calcular la suma de los que sí la cumplen. El objetivo es diseñar la lógica necesaria para examinar y procesar los números según las condiciones indicadas.

2. Administración de Actividades Diarias
Imagina una aplicación para gestionar las actividades cotidianas de una persona, donde se disponga de una serie de tareas, algunas de las cuales indican que ya han sido concluidas. El desafío consiste en presentar cada actividad junto a su posición en la colección, filtrar aquellas que contengan una marca de finalización y actualizar el conjunto de actividades. Finalmente, se debe exhibir el estado del conjunto antes y después de aplicar el filtro, permitiendo al usuario observar los cambios realizados.

3. Filtrado y Transformación de Texto
Propón un sistema en el que se solicite al usuario una secuencia de caracteres. A partir de la entrada, se debe descomponer el texto en sus componentes individuales y extraer únicamente aquellos que correspondan a letras del alfabeto, omitiendo números y símbolos. Una vez realizado este filtrado, la colección resultante deberá ser convertida en una estructura que no permita modificaciones, y el resultado final se debe mostrar al usuario.

4. Informe Interactivo de Alumnos
Considera dos conjuntos de datos paralelos: uno con nombres de estudiantes y otro con sus respectivas calificaciones. El reto consiste en elaborar un informe que relacione cada alumno con su nota, presentando también la posición de cada registro. Posteriormente, el sistema debe permitir al usuario consultar la nota de un alumno específico introduciendo la posición correspondiente, finalizando la consulta si se ingresa un valor fuera del rango válido. La solución deberá vincular ambas colecciones de manera sincronizada y ofrecer una interacción dinámica.

5. Aplicación de Operaciones sobre Valores Numéricos
Diseña una aplicación que inicie con una serie de valores numéricos predefinidos. El usuario interactuará mediante un menú que le permita realizar distintas operaciones: calcular la suma total de los valores, reordenarlos según un criterio específico o eliminar uno de ellos según una indicación. La interfaz deberá ofrecer la posibilidad de repetir estas acciones hasta que el usuario decida finalizar. El desafío es organizar el flujo de la interacción y manipular la colección de números de acuerdo a la opción elegida..